.Usuarios-Principal{
    display: grid;
    grid-template-rows: repeat(auto-fit, 0fr);
    grid-template-columns: repeat(4, 0fr);
    width: auto;
    margin-left: -10px;
    height: auto;
    justify-content: left;
    place-items: center;
    
}
.Foto_users {
    width: 250px;
    height: 170px;
    display: flex; /* Establece el contenedor como un flex container */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    
    
}

.Fotos-usurios {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 250px;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionarla */
    background: rgb(177, 177, 177);
    object-position: top; /* Muestra la parte superior de la imagen */
}


.Usuarios-Nexus{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
    margin-bottom: -10px;

}
.Datos-Users{
    width: 250px;
    height: 50px;
    display: flex;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    text-align: center;
    place-items: center;
    background: rgba(230, 227, 227, 0.323);
    
}

.text-Datos{
    font-size: 10px;
    width: 130px;
}

.send{
    box-shadow: 0px 2px 7px rgb(0, 0, 0);
    background-color: #0184ffc1;
    color: white;
    border-radius: 0.5em;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 15px;
    
}
.send:hover{
    background-color: white;
    color: #0184ff;
}
.botones-users{
    margin-left: 55px;
    width: 80px;
    height: auto;
    text-align: right;
    padding-right: 10px;

}


.Datos-Usuarios-nexus{
    padding: 10px;
    margin-bottom: 10px;
}