
body{
    background-image: url(../img/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI historic';
    height: 100vh;
    overflow: hidden;
  }

  .contenedorCentral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .container{
    display: flex;
    width: 1000px;
    padding: 50px;
  }
  
  .container-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: auto;
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: rgba(255, 255, 255, 0.568)
  }
  
  .container-logo h1{
    color: #2f00ff;
    font-size: 80px;
    font-family: 'Segoe UI historic';
    margin: 0;
    text-align: left;
  }
  
  .container-logo p{
    font-size: 18px;
    font-family: 'Segoe UI historic';
    margin: 0;
    width: 400px;
    color: white;
  }
  
  .container-input {
    background-color: rgba(2, 2, 2, 0.568);
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    height: 550px;
    padding-top: 25px;
    font-family: 'Segoe UI historic';
    text-align: center;
  }
  
  .datos-sesion{
    width: 400px;
    height: 35px;
    font-size: 15px;
    margin-left: 5px;
    outline: none;
    border: none;
    border-radius: 0.3em;
    /* border: solid 2px red ; */
  }
  
  .btnSubmit{
    width: 300px;
    cursor: pointer;
    margin: 25px;
    border: none;
    border-radius: 0.3em;
    font-size: 20px;
    color: white;
    height: 45px;
    background-color:#0285a2;
  }
  .btnSubmit:hover{
    width: 320px;
    font-weight: bold;
    color: rgb(1, 1, 1);
    background-color:#00c5f1;
  }
  
  .container-input .boton-crear{
    width: 300px;
    cursor: pointer;
    margin-top: 45px;
    font-size: 20px;
    border-radius: 0.3em;
    border: none;
    color: white;
    height: 45px;
    background-color: #00d061;
  }
  
  .container-input .boton-crear:hover{
    width: 310px;
    font-weight: bold;
    color: rgb(5, 5, 5);
    background-color: #078742;
  }
  
  
  .container-input .olvidar-contra{
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 2px solid #ced4db;
    padding-bottom: 10px;
    width: 400px;
  }
  .container-input .olvidar-contra:hover{
    
    color: #00d061;
    font-size: 17px;
  }





  /* -------------------------------------------Registro de usuarios css ----------------------------------------*/

  .Contenedor-registrar{
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 99.9vh;
    width: auto;
}
.contendor-central{
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 1000px;
  padding: 50px;
}

.Nexus{
  text-align: left;
}

.Nexus h1{
  color: #ffffff;
    font-size: 80px;
    font-family: 'Segoe UI historic';
    margin: 0;
    text-align: left;
}
.Nexus p{
  font-size: 18px;
  font-family: 'Segoe UI historic';
  margin: 0;
  width: 400px;
  color: rgb(255, 253, 253);
}

.Nexus{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 550px;
  padding: 20px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  background-color: rgba(2, 2, 2, 0.568);
}



/* Formulario ---------------------------------------------------*/

.Principal-Login{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 570px;
    width: 570px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    flex-direction: column;
    background: rgba(2, 2, 2, 0.568);
    padding: 10px;
    color: rgb(255, 255, 255);
}

.Tabla-contendor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    gap: 10px;
}
.Tabla-contendor h2{
    text-align: center;
    justify-content: center;
    align-items: center;
  
}

.Nombre-Apellido{
width: 200px;
height: 40px;
border-radius: 0.5em;
border: none;
outline: none;
margin-left: 5px;
}
.Contrasena{
    width: 200px;
    height: 40px;
    margin-left: 5px;
    border-radius: 0.5em;
    outline: none;
    border: none;
}
.Correo{
    width: 500px;
    height: 40px;
    border-radius: 0.5em;
    outline: none;
    margin-left: 5px;
    border: none;
}
td{
    font-size: 15px;
    font-weight: bolder;
}

.Boton-registrar{
    width: 558px;
    height: 50px;
    border-radius: 0.4em;
    margin-top: 15px;
    background-color: rgb(2,133,162);
    border: none;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    font-size: 16px;
    
}
.Boton-registrar:hover{
    background-color: rgb(19, 191, 229);
    color: #000000;
}
.home{
    display: flex;
    background: transparent;
    color: rgb(249, 249, 249);
    font-size: 18px;
    margin-top: 20px;
    justify-content: center;

}
.home p{
    margin-right: 25px;
    margin-top: 0px;
}
.home a{
    text-decoration:none;
    color: rgb(0, 208, 97);
    font-weight: bold;
    cursor: pointer;
}
.home a:hover{
    color: rgb(84, 249, 161);
    
}

.Registrar{
    /* position: absolute;
    transform: translatey(-300%); */
    display: none;
}

.iconLabel{
  padding: 10px;
  border-radius: 0.5em;
  margin-top: 10px;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  place-items: center;
  background-color: white;
  color: #000000;
  font-size: 25px;
}


.iconRegistro{
  padding: 10px;
  border-radius: 0.5em;
  margin-top: 10px;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  place-items: center;
  background-color: white;
  color: #000000;
  font-size: 25px;
  margin-right: 10px;
}
